<%- include('partials/header') -%>

<!-- <nav class="menu-bar">
  <div class="group">
    <div class="item title">
      <img src='/imgs/twist.png' alt='green spiral logo' />
      <a class="item title">Homeschool Tracker</a>
    </div>
  </div>
  <div class="group">
    <a class="item">Link 1</a>
    <a class="item">Link 2</a>
  </div>
</nav> -->
<div class="top-container">
  <div id="logo">
    <img id='header-img' src="imgs/twist.png" />
    <div>
      <h1 id='header-h1'><a class="header-title" href="/profile">Homeschool Tracker</a></h1>
      <span class='sub-title'>Proof of time well spent</span>
    </div>
  </div>  
  <div id="left-header">
    <div>
      <p class="user-info"><strong>User Name</strong>: <%= user.userName %></p>
      <p class="user-info"><strong>Email</strong>: <%= user.email %></p>
    </div>
    <div>
      <a href="/logout" class=" btn btn-primary">Logout</a>
    </div>
  </div>  
</div>
<div class="profile-container ">
  
</div>


<%- include('partials/footer') -%>
