<%- include('partials/header') -%>


<div class="top-container">
  
  <div class="inner-container">
      <p class="user-info"><strong>User Name</strong>: <%= user.userName %></p>
      <p class="user-info"><strong>Email</strong>: <%= user.email %></p>
      <div>
        <a href="/logout" class=" btn btn-primary">Logout</a>
      </div>
    </div>
</div>
<div class="profile-container ">
  
</div>


<%- include('partials/footer') -%>